<html>
    <head>
        <title>Teacher</title>
        {%if is_granted('ROLE_TEACHER')==null%}
            <script>
                window.location = "{{ path('fos_user_security_logout') }}";
            </script>
            {%endif%}
        <link rel="stylesheet" href="{{asset('bundles/sifoadmin/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/sifoadmin/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/sifoadmin/css/bootstrap-responsive.css')}}">
            <style type="text/css">
                body{background-color: #bdc3c7;}
                .login{padding-top: 65px;}
                .center{float: none; margin-left: auto; margin-right: auto;}
            </style>
        {%block stylesheets%}{%endblock%}
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <span><font color="white"><h5>Teacher Area</h5></font></span>
                    </div>
                </div>
            </div>
            <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><br><br><br><br></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        
                        <ul class="nav well">
                            <li><legend><center>User Profile</center></legend></li>
                            <li><center>Teacher</center></li>
                            <li><center><img src="{{asset('bundles/sifoadmin/image/user.png')}}" class="img-responsive img-thumbnail" alt="Responsive image"></center></li>
                            <li><center><font color="red">{{app.user.name}}</font>({{app.user.noid}})</center></li>
                        </ul>  
                        
                        <ul class="nav well">
                            <li><legend><center>Menu</center></legend></li>
                            <li> <a href="{{path('sifo_main_teacherpage')}}"><center>Home</center></a></li>
                            <li> <a href="{{path('sifo_profile_teacherpage')}}"><center>Profile</center></a></li>
                            <li> <a href="{{path('sifo_viewmateri')}}"><center>Materi</center></a></li>
                            <li> <a href="{{path('create_kuis_page')}}"><center>Quiz</center></a></li>
                        </ul>
                        {%block side%}
                        {%endblock%}
                        
                    </div>
                    
                    <div class="col-md-7 span4 well">
                        
                        {%block content%}{%endblock%}
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="footer">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <hr>
                        <p class="muted pull-left">
                            <font color="red">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</font> <a href="{{path('fos_user_security_logout')}}">Logout</a>
                        </p>
                        <p class="muted pull-right">© 2014 Mikroskil. All rights reserved</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            </section>
        </div>
        
    <script src="{{asset('bundles/sifoadmin/js/bootstrap.js')}}"></script>
    <script src="{{asset('bundles/sifoadmin/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/sifoadmin/js/jquery-2.1.0.js')}}"></script>
    </body>
</html>