<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Administrator</title>

        <link rel="stylesheet" href="{{asset('bundles/sifoadmin/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/sifoadmin/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/sifoadmin/css/bootstrap-responsive.css')}}">
        {%block stylesheets%}
        {%endblock%}
        <style type="text/css">
            .well {
                max-width:250px;
                padding: 19px 29px 29px;
                margin: 0 auto 20px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
            }
            .well2 {
                max-width:660px;
                padding: 19px 29px 29px;
                margin: 0 auto 20px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
            }
            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }
            .form-signin input[type="text"],
            .form-signin input[type="password"] {
                font-size: 14px;
                height: auto;
                margin-bottom: 15px;
            }

            .page_header h5{
                color: #fff;
                font:normal 50px fontsatu;
            }

        </style>
        <script src="{{asset('bundles/sifoadmin/js/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/sifoadmin/js/bootstrap.min.js')}}"></script>
        {#<script src="{{asset('bundles/sifoadmin/js/bootstrap.js')}}"></script>#}
        {#<script src="{{asset('bundles/sifoadmin/js/jquery-2.1.0.js')}}"></script>#}
    </head>
    <body>
        <div class="container-fluid">
            
            {# --------------- header --------------- #}
            <div class="row">
                <center><a href="{{ path('admin_home') }}"><img src="{{asset('bundles/sifoadmin/image/Hadmin2.jpg')}}" class="img-responsive img-thumbnail" alt="Responsive image" style="border-style: none"></a></center>
            </div>
            
            {# --------------- menu --------------- #}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <hr>
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="{{ path('admin_home') }}">Home</a></li>
                        <li><a href="{{ path('admin_dataguru') }}">Data Guru</a></li>
                        <li><a href="{{ path('admin_datasiswa') }}">Data Siswa</a></li>
                        <li><a href="{{ path('admin_datakelas') }}">Data Kelas</a></li>
                        <li><a href="{{ path('admin_dataadmin') }}">Data Admin</a></li>
                        <li><a href="{{ path('admin_databerita') }}">Berita</a></li>
                    </ul>
                    <hr>
                </div>
                <div class="col-md-1"></div>
            </div>
                            
            {# --------------- konten --------------- #}
            <div class="row">
                <div class="col-md-1">
                    {%block menu%}{%endblock%}
                </div>
                <div class="col-md-10">
                    {%block main%}{%endblock%}
                </div>
                <div class="col-md-1">
                    
                </div>
            </div>
            
            {# --------------- footer --------------- #}
            <div class="footer">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <hr>
                    <p class="muted pull-left">
                        Anda Login Sebagai {{name}} (<a href="{{ path('logout') }}">Logout</a></center>)
                    </p>
                    <p class="muted pull-right">© 2014 Mikroskil. All rights reserved</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
 
    </body>
</html>

