{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    <center>Ini halaman Data Admin!!</center>
    <p class="pull-center">
        <form class="well" id="form" method="POST" action="{{ path('admin_dataadmin') }}">
            <fieldset>
                <legend>Registration Form</legend>

                <label class="control-label">Username:</label>
                    <input type="text" id="username" name="username">
                <label class="control-label">Firstname:</label>
                    <input type="text" id="firstname" name="firstname">
                <label class="control-label">Password:</label>
                    <input type="text" id="password" name="password">
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Tambah</button>
                </div>
            </fieldset>
        </form>
    </p>
    <br>
    <hr>
    <br>
    <p class="pull-center">
        <h3><center>Data Admin</center></h3>
        {%if admin == null%}
            <tbody>
            <center><font color="red">{{error}}</font></center>
            </tbody>
        {%endif%}
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Firsname</th>
                    <th>Password</th>
                    <th><center>Opsi</center></th>
                </tr>
            </thead>
            <tbody>
                {% for view in admin %}
                <tr>
                    <td>{{view.id}}</td>
                    <td>{{view.userName}}</td>
                    <td>{{view.firstName}}</td>
                    <td>{{view.password}}</td>
                    <td><center>
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        </center>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        
        </table>
    </p>
    </p>
{%endblock%}