{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    <p class="pull-center">
        <form class="well" id="form" method="POST" action="{{ path('admin_dataguru') }}">
            <fieldset>
                <legend>Daftarkan Guru</legend>
                <label class="control-label">Username:</label>
                    <input type="text" id="username" name="username">
                <label class="control-label">Password:</label>
                    <input type="text" id="password" name="password">
                <label class="control-label">Name:</label>
                    <input type="text" id="name" name="name"><br>
                <label class="control-label">NIP:</label><br>
                    <input type="text" id="nip" name="nip">
                <label class="control-label">Email:</label>
                    <input type="text" id="email" name="email">
                <label class="control-label">Mata Pelajaran:</label>    
                    <select name='mapel'>
                        <option value='Matematika'>Matematika</option>
                        <option value='Bahasa Indonesia'>Bahasa Indonesia</option>
                        <option value='Bahasa Inggris'>Bahasa Inggris</option>
                    </select>
                <label class="control-label">Kelas yang diajar:</label><br>
                {% for cek in kelas %}
                    <p>
                    <input type="checkbox" name="kelas" value="{{cek.namaKelas}}"> Kelas{{cek.namaKelas}}
                    </p>
                {%endfor%}
                <label class="control-label">Role: <b><font color="blue">Guru</font></b></label>
                    <input type="hidden" id="roles" name="roles" value="ROLE_TEACHER">
                    <input type="hidden" id="grup" name="grup" value="guru">
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Tambah</button>
                </div>
            </fieldset>
        </form>
    </p>
    <p class="pull-center">
        <h3><center>Data Guru</center></h3>
        {%if guru == null%}
            <tbody>
            <center><font color="red">{{error}}</font></center>
            </tbody>
        {%endif%}
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Bidang</th>
                    <th>Kelas</th>
                    <th><center>Opsi</center></th>
                </tr>
            </thead>
            <tbody>
                {% for view in guru %}
                <tr>
                    <td>{{view.userId}}</td>
                    <td>{{view.name}}</td>
                    <td>{{view.email}}</td>
                    <td>{{view.mataPelajaran}}</td>
                    <td>{{view.class}}</td>
                    <td><center>
                        <a href="{{ path('edit_dataguru', {'id':  view.userId  }) }}">edit</a> || 
                        <a href="#">remove</a>
                        </center>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        
        </table>
    </p>
{%endblock%}