{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    {#<p class="pull-center">
        <form class="well" id="form" method="POST" action="{{ path('admin_datakelas') }}">
            <fieldset>
                <legend>Tambahkan Kelas</legend>
                <label class="control-label">Kode Kelas :</label>
                    <input type="text" id="kode" name="kode">
                <label class="control-label">Nama Kelas :</label>
                    <input type="text" id="nama" name="nama">
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Tambah</button>
                </div>
            </fieldset>
        </form>
    </p>#}
    <hr>
    <p class="pull-center">
        <center><h3>Data Kelas</h3></center>
        {%if kelas == null%}
            <tbody>
            <center><font color="red">{{error}}</font></center>
            </tbody>
        {%endif%}
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode Kelas</th>
                    <th>Tingkat Kelas</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for view in kelas %}
                <tr>
                    <td>{{view.id}}</td>
                    <td>{{view.kodeKelas}}</td>
                    <td>{{view.tingkatKelas}}</td>
                   {# <td><center>
                        <a href="{{ path('edit_datakelas', {'id':  view.id  }) }}">edit</a>
                        
                        </center>
                    </td>#}
                </tr>
                {%endfor%}
            </tbody>
        
        </table>
    </p>
{%endblock%}