{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block stylesheets%}
        <script type="text/javascript" src="{{asset('bundles/sifoadmin/js/tinymce/tiny_mce.js')}}"></script>
        <script type="text/javascript">
            tinyMCE.init({
            // General options
            mode : "textareas",
            theme : "advanced",
            width : "600",
            height : "500",
            });
        </script>
{%endblock%}
{%block main%}
    <p class="pull-center">
        <form class="well2" id="form" method="POST" action="#">
            <fieldset>
                <legend><center>Isi Berita</center></legend>
                <label class="control-label">Judul:</label><br>
                    <input type="text" name="judul" size="95"><br>
                <label class="control-label">Body:</label>
                    <textarea name="isi"></textarea>
                                
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Tambah</button>
                </div>
                    <input type="hidden" name="sumber" value="{{name}}">
            </fieldset>
        </form>
    </p>
    <hr>
    <legend><center>Daftar Berita</center></legend>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Tanggal</th>
                <th>Opsi</th>
            </tr>
        </thead>
        <tbody>
            {%for view in berita %}
            <tr>
                <td>{{view.Judul}}</td>
                <td>{{view.tanggal|date('Y-m-d')}}</td>
                <td><a href="{{path('delete_berita', {'id':  view.Id  })}}">Remove</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}