{% extends 'SifoAdminBundle:Admin:adminlayout.html.twig' %}

{%block main%}
    <p class="pull-center">
        <form class="well" id="form" method="POST" action="{{ path('edit_dataguru', {'id':  guru.userId  }) }}">
            <fieldset>
                
                <legend>Edit Guru</legend>
                <label class="control-label">Username:<font color="red">*</font></label>
                    <input type="text" id="username" name="username" value="{{guru.username}}">
                <label class="control-label">Name:</label>
                    <input type="text" id="name" name="name" value="{{guru.name}}" disabled><br>
                <label class="control-label">NIP:</label><br>
                    <input type="text" id="nip" name="nip" value="{{guru.noId}}" disabled>
                <label class="control-label">Email:<font color="red">*</font></label>
                    <input type="text" id="email" name="email" value="{{guru.email}}">
                <label class="control-label">Mata Pelajaran:</label>    
                    <input type="text" value="{{guru.mataPelajaran}}" disabled>
                <div align="center">
                    <br><button type="submit" class="btn btn-primary" >Simpan</button>
                </div>
                
            </fieldset>
        </form>
    </p>
{%endblock%}